<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body {{#if config.darkStyle}}class="dark"{{/if}}>
        <div class="wrap">
            {{{body}}}
        </div>
    </body>
</html>
