<nav>
    <div class="main">
        <div class="buttoncontainer">
        <a href="/create/" class="button btnCreate" >Create new Note</a>
        </div>
        <form method="post">
            <button type="submit" id="btnSortByFinish" formaction="/config/set/sort/byFinishDate">By finish Date</button>
            <button type="submit" id="btnSortByImportance" formaction="/config/set/sort/byImportance">By Importance</button>
            <button type="submit" id="btnSortByDateCreated" formaction="/config/set/sort/byCreateDate">By created Date</button>
        </form>
    </div>
    <div class="options">
        <form method="post">
            <button type="submit" id="btnStyleSwitcher" formaction="/config/set/toggleStyle">Style Switcher</button>
            <button type="submit" id="btnHideShowCompleted" formaction="/config/set/hideCompleted">Fertige verbergen</button>
        </form>
    </div>
</nav>


{{#each todos}}
    {{> todoDetail this}}
{{/each}}
