<h1>Edit Todo</h1>
<form method="post">
    <label for="todo-title">Titel</label>
    <input type="text" id="todo-title" name="title" value="{{title}}" required/>

    <label for="todo-description" id="todo">Beschreibung</label>
    <textarea id="todo-description" name="description">{{description}}</textarea>

    <label for="todo-importance">Wichtigkeit</label>
    <input type="number" name="importance" in="1" max="5" value="{{importance}}" required>

    <label for="todo-duedate">Erledigt bis</label>
    <input type="date" name="duedate" id="todo-duedate" value="{{duedate}}" required/>

    <button type="submit" class="button">Speichern</button>
    <a href="/" class="button">Abbruch</a>
</form>