<nav>
    <div class="main">
        <form action="/create/" method="get">
            <button type="submit" id="btnCreate">Create new Note</button>
        </form>
        <form action="/config/set/sortByFinishDate" method="get" class="sort">
            <button type="submit" id="btnSortByFinish">By finish Date</button>
        </form>
        <form action="/config/set/sortByImportance" method="get" class="sort">
            <button type="submit" id="btnSortByImportance">By Importance</button>
        </form>
        <form action="/config/set/sortByCreateDate"  method="get" class="sort">
            <button type="submit" id="btnSortByDateCreated">By created Date</button>
        </form>
    </div>
    <div class="options">
        <form action="/config/set/toggleStype" method="get">
            <button type="submit" id="btnStyleSwitcher">Style Switcher</button>
        </form>
        <form action="/config/set/hideCompleted" method="get">
            <button type="submit" id="btnHideShowCompleted">Fertige verbergen</button>
        </form>
    </div>
</nav>


{{#each todos}}
    {{> todoDetail this}}
{{/each}}
