* {
    box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, sans;
  font-size: 16px;
}

.error{
    background-color: rgb(250, 238, 233);
    padding: 1rem;
    margin-bottom: 1rem;
}

.dark {
    background-color: black;
    color: white;
}

/* Layout for the todoList
********************************************************************/

button, .button {
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: "Open Sans", Arial, sans;
}

button:hover , .button:hover {
  border: 1px solid black;

}

button:active , .button:active, button.active {
  background-color: darkgray;
  border: 1px solid black;

}

.sort {
  display: inline-block;
}

.btnCreate {
  background-color: lightgray;
  font-weight: bold;
    display: inline-block;
}

.main {
  width: 79%;
  display: inline-block;
}

.options {
    width: 20%;
    display: inline-flex;
}

.todoStatus {
  width: 10%;
  display: inline-block;
}

.todoDetails {
  width: 89%;
  display: inline-block;
}

.todoTitle {
    display: inline-block;
    font-weight: bold;
}

.todoImportance {
  display: inline-block;
  float: right;
}

.todoDescription {
  width: 100%;
}

/* Flexbox Form */
form {
  display: flex;
  flex-flow: wrap;
}

#todoDetails > * {
    flex: 1 100%;
}

#btnEdit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3em;
    padding-right: 3em;
}


/* @media
**********************************/
@media(max-width: 777px) {
    article {
        margin-top: 1.5em;
        display: flex;
        border-bottom: solid grey 1px;
    }
    .wrap * {
        display: flex;
        flex-flow: wrap;
        flex: 1 100%;
        width: 100%;
    }

    .todoTitle {
        flex: 1 50%;
    }

    .todoImportance {
        flex: 1 50%;
        margin: 0 0 0 0;
        text-align: right;
        display: block;
    }

    button, .button {
        margin-right: 0;
        display: block;
        text-align: center;
    }

    div .todoStatus {
        display: inline-flex;
    }

    div .todoStatus input {
        align-items: left;
    }

    div .todoStatus > * {
        flex: 1 30%;
        margin: 0;
        display: inline-flex;
    }
}

/* END Layout for the todoList*/
