* {
    box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, sans;
  font-size: 16px;
}

.error{
    background-color: rgb(250, 238, 233);
    padding: 1rem;
    margin-bottom: 1rem;
}

.dark {
    background-color: black;
    color: white;
}

/* Layout for the todoList
********************************************************************/

button, .button {
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: "Open Sans", Arial, sans;
}

button:hover , .button:hover {
  border: 1px solid black;

}

button:active , .button:active, button.active {
  background-color: darkgray;
  border: 1px solid black;

}

.sort {
  display: inline-block;
}

.btnCreate {
  background-color: lightgray;
  font-weight: bold;
    display: inline-block;
}

.main {
  width: 79%;
  display: inline-block;
}

.options {
    width: 20%;
    display: inline-flex;
}

.todoStatus {
    width: 10%;
    display: inline-flex;
}

.todoStatus p, input {
    flex: 1 50%;
    display: inline-flex;
}

.todoDetails {
  width: 89%;
  display: inline-block;
}

.todoTitle {
    display: inline-block;
    font-weight: bold;
}

.todoImportance {
  display: inline-block;
  float: right;
}

.todoDescription {
  width: 100%;
}

.buttoncontainer {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
}

.buttoncontainer {
    display: flex;
    align-items: center;
}

/* Flexbox Form */
form {
  display: flex;
  flex-flow: wrap;
}

#todoDetails > * {
    flex: 1 100%;
}

#btnEdit {
    display: block;
    padding-left: 3em;
    padding-right: 3em;
}


/* @media      ***********************************
**************************************************/

@media(max-width: 777px) {

    /*Start Navigation***********************/

    nav {
        display: flex;
        flex-flow: row wrap;
    }

    nav .main {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav a {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav .main form  {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav .main form button {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav .options {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav .options form {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    nav .options form button {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }
    /*End Navigation ***********************/

    /*Start Article ***********************/
    article {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    article .main {
        display: flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    .todoDetails {
        flex: 1 100%;
        display: flex;
        flex-flow: row wrap;
    }

    .todoTitle {
        display: flex;
    }

    .todoImportance {
        display: flex;
        margin: 0 0 0 auto;
    }

    .todoDescription {
        display: flex;
        flex: 1 100%;
    }

    .todoStatus {
        display: flex;
        flex: 1 100%;
    }

    div .todoStatus p {
        display: inline-flex;
        flex: 1 10%;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    div .todoStatus input {
        display: inline-flex;
        flex: 1 10%;
        margin-left: 0;
        padding-left: 0;
    }

    div .todoStatus date {
        display: inline-flex;
        flex: 1 100%;
        align-content: right;
    }

    .options {
        display: flex;
        flex: 1 100%;
    }

    .options a {
        display: flex;
        flex: 1 100%;
    }

    .buttoncontainer {
        display: inline-flex;
        flex-flow: row wrap;
        flex: 1 100%;
    }

    .buttoncontainer button {
        display: flex;
        flex: 1 100%;
    }

    .buttoncontainer a {
        display: inline-block;
        flex: 1 100%;
        align-content: center;
    }
    /*End Article ***********************/
}

/* END Layout for the todoList*/
