* {
    box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, sans;
  font-size: 16px;
}

.error{
    background-color: rgb(250, 238, 233);
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Layout for the todoList
********************************************************************/

button, .button {
  margin-bottom: 1em;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
  font-family: "Open Sans", Arial, sans;
}

button:hover , .button:hover {
  border: 1px solid black;

}

button:active , .button:active {
  background-color: darkgray;
  border: 1px solid black;

}

.sort {
  display: inline-block;
}

.btnCreate {
  background-color: lightgray;
  font-weight: bold;
}

.main {
  width: 79%;
  display: inline-block;
}

.options {
    width: 20%;
    display: inline-block;
}

.todoStatus {
  width: 10%;
  display: inline-block;
}

.todoDetails {
  width: 89%;
  display: inline-block;
}

.todoTitle {
  display: inline-block;
}

.todoImportance {
  display: inline-block;
  float: right;
}

.todoDescription {
  width: 100%;
}

/* Flexbox Form */
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form > label {
    flex: 1 20%;
}

form > input, div, textarea {
    flex: 1 80%;
}

@media(max-width: 961px) {
    article {
        display: flex;
    }
    article > .main > * {
        display: inline-flex;
        flex-flow: wrap;
        width: 100%;
    }

    article .options {
        width: 20%;
        display: inline-flex;
        align-items: center;
    }
}

@media(max-width: 752px) {
    .wrap * {
        display: flex;
        flex-flow: wrap;
        flex: 1 100%;
        width: 100%;
    }

    .todoTitle {
        flex: 1 50%;
    }

    .todoImportance {
        flex: 1 50%;
        margin-left: auto;
    }

    .todoImportance {
        flex: 1 50%;
        width:  50%;
        margin-left: auto;
    }
}

/* END Layout for the todoList*/
